html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport",content="width=device-width")
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')


        title  Gorkem
        //- link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
        link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')
        //- link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/convert.css')

        link(rel='stylesheet', type='text/css', href='/stylesheets/grid-5.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css')
        script(type="text/javascript", src="javascripts/foundation/vendor/custom.modernizr.js")


        body
            header
            div(id = "special")
                div(id="wrapper")
                div(id = "list")



        script(src='/javascripts/lib/require.js', data-main='/javascripts/application.js')

