html(lang='en')
head
	link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/convert.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
	link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
	meta(name="viewport",content="width=device-width")

	body


	header
		div.div1 Hello World
		div.div2 Hello World
		div.div3 Hello World
		div.div4 Hello World
		div.div5 Hello World
		div.div6 Hello World
		div.div7 Hello World 


//- div.large-4.small-12.columns.signbutton
//-     div
//-         a(href='/auth/google')
//-             img.sign-in(src="images/red-sign-in.png")