html(lang='en')
head
	link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/convert.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
	link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
	meta(name="viewport",content="width=device-width")

	body


	header
		div.big-title
			img#asana-logo(src="images/asana-logo-color.png")
			a(href="https://app.asana.com/-/oauth_authorize?client_id=8251548813361&redirect_uri=http://localhost:3000/redirect&response_type=code")
				img#asana-login(src="images/asana-oauth-button-blue.png")

			//- h2.big-title  Clear 4 
			//- 	img#asana-logo(src="images/asana-logo-color.png")
			//- div
			//- 	img#realhandpicture(src="images/real-clear-picture.jpg")
		//- div.image-container 
		//- 	img#asana-logo(src="images/asana-logo-color.png")
//- div.large-4.small-12.columns.signbutton
//-     div
//-         a(href='/auth/google')
//-             img.sign-in(src="images/red-sign-in.png")



//- id = 8251548813361
//- secret = 3172e3f14a96ee0463067f2f62b3c764